:root {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;

  --pink: #FFAA7A;
  --light-pink: #FFE5D6;
  --light-green: #8BC385;
	--green: #3A8033;
	--yellow: #FFD500;
	--white: white;
	--black: black;

	--rounded: 1.5rem;

	--wave-height: 10rem;
}

* {
	box-sizing: border-box;
} /* Switch to border-box for box-sizing. */

body {
	margin: 0; /* Remove the tiny space around the edge of the page */
}

img,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block; /* Switch display mode to block, since that's what we usually want for images. */
	vertical-align: middle; /* If you override, and make an image inline, it's likely you'll want middle vertical alignment. */
}

img {
	max-width: 100%;
	max-height: auto;

	vertical-align: middle;
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
}

@keyframes rotate {
	0% {
		transform: rotate(-45deg);
	}
	100% {
		transform: rotate(45deg);
	}
}

.cta {
	padding: 0.5rem 1rem;
	font-size: 20px;
  padding-block: .8rem;
  color: var(--black);
  text-decoration: none;

	/* font-style: italic; */

	background: var(--yellow);
	border-radius: var(--rounded);
	border: 2px solid var(--black);
	box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.35);
}

button {
  --_background: var(--button-background, var(--light-green));
  --_hover: var(--button-hover, var(--green));
  --_outline: var(--button-outline, var(--black));

  display: flex;
  background: var(--_background);
  border-radius: var(--rounded);
  border: 2px solid var(--black) ;
  padding: 1rem 5rem;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.25);
  text-align: center;

  font-size: 20px;

  &:hover {
    background: var(--_hover);
  }
  &:focus {
    outline-color: var(--_outline);
    outline-style: solid;
    outline-width: 3px;
  }

  & > :global(svg) {
    animation: rotate 2s infinite;
  }
}

a {
	color: black;
	font-weight: bold;
}

/* Layout */

.stack {
	display: grid;
	grid-template-areas: 'stack';

	& > * {
		grid-area: stack;
	}
}

.content {
	--gap: clamp(1rem, 6vw, 3rem);
	--full: minmax(var(--gap), 1fr);
	--content: min(100ch, 100% - var(--gap) * 2);
	--popout: minmax(0, 2rem);
	--feature: minmax(0, 5rem);

	display: grid;
	grid-template-columns:
		[full-start] var(--full)
		[feature-start] var(--feature)
		[popout-start] var(--popout)
		[content-start] var(--content) [content-end]
		var(--popout) [popout-end]
		var(--feature) [feature-end]
		var(--full) [full-end];

	grid-auto-rows: min-content;

	& > * {
		grid-column: content;
	}

	& .popout {
		grid-column: popout;
	}
	& .feature {
		grid-column: feature;
	}
	& .full {
		grid-column: full;
	}
}

/* Typography */

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 102px;
  font-style: italic;
  font-weight: 600;
  color: var(--green);
}
.white {
  color: var(--white);
}

b, .bold {
  font-weight: 600;
}

h1, .heading {
  font-family: 'Martel', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: var(--green);
}
h2, .subheading {
  font-family: 'Raleway', sans-serif;
  font-size: 20;
  font-weight: 600;
}
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
}

a, .link {
  font-family: 'Raleway', sans-serif;
  color: var(--light-green);
  text-decoration: underline;

  &:hover {
    color: var(--green);
  }
}
/* 
.page-heading {
	color: #fff;
	font-family: Raleway;
	font-size: 6.375rem;
	font-style: italic;
	font-weight: 700;
	line-height: normal;
}

.page-description {
	color: #fff;
	/* text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5); */
	font-family: Raleway;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
} */
