:root {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	line-height: 1.5;

  --pink: #FFAA7A;
  --light-pink: #FFE5D6;
  --light-green: #8BC385;
	--green: #3A8033;
	--yellow: #FFD500;
	--white: white;
	--black: black;

	--rounded: 0.25rem;

	--wave-height: 10rem;
}

* {
	box-sizing: border-box;
} /* Switch to border-box for box-sizing. */

body {
	margin: 0; /* Remove the tiny space around the edge of the page */
}

img,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block; /* Switch display mode to block, since that's what we usually want for images. */
	vertical-align: middle; /* If you override, and make an image inline, it's likely you'll want middle vertical alignment. */
}

img {
	max-width: 100%;
	max-height: auto;

	vertical-align: middle;
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
}

@keyframes rotate {
	0% {
		transform: rotate(-45deg);
	}
	100% {
		transform: rotate(45deg);
	}
}

button.cta {
	padding: 0.5rem 1rem;
	font-size: 1.5rem;

	/* font-style: italic; */

	background: rgba(139, 195, 133, 0.5);
	border-radius: 0.8rem;
	border: 1px solid var(--black);
	box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.35);
}

button {
	button {
		--_background: var(--button-background, --gray-100);
		--_hover: var(--button-hover, --gray-300);
		--_outline: var(--button-outline, --gray-400);

		display: flex;
		background: var(--_background);
		border-radius: var(--rounded);
		border: none;
		padding: 0.4rem;

		&:hover {
			background: var(--_hover);
		}
		&:focus {
			outline-color: var(--_outline);
			outline-style: solid;
			outline-width: 3px;
		}

		& > :global(svg) {
			animation: rotate 2s infinite;
		}
	}
}

a {
	color: black;
	font-weight: bold;
}

/* Layout */

.stack {
	display: grid;
	grid-template-areas: 'stack';

	& > * {
		grid-area: stack;
	}
}

.content {
	--gap: clamp(1rem, 6vw, 3rem);
	--full: minmax(var(--gap), 1fr);
	--content: min(100ch, 100% - var(--gap) * 2);
	--popout: minmax(0, 2rem);
	--feature: minmax(0, 5rem);

	display: grid;
	grid-template-columns:
		[full-start] var(--full)
		[feature-start] var(--feature)
		[popout-start] var(--popout)
		[content-start] var(--content) [content-end]
		var(--popout) [popout-end]
		var(--feature) [feature-end]
		var(--full) [full-end];

	grid-auto-rows: min-content;

	& > * {
		grid-column: content;
	}

	& .popout {
		grid-column: popout;
	}
	& .feature {
		grid-column: feature;
	}
	& .full {
		grid-column: full;
	}
}

/* Typography */

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 102px;
  font-style: italic;
  font-weight: semibold;
  color: var(--green);
}

h1 {
  font-family: 'Martel', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: var(--green);
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 20;
  font-weight: semibold;
}
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
}

.page-heading {
	color: #fff;
	font-family: Raleway;
	font-size: 6.375rem;
	font-style: italic;
	font-weight: 700;
	line-height: normal;
}

.page-description {
	color: #fff;
	/* text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5); */
	font-family: Raleway;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
